body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: #e7eff6;
}

			
header{
	margin-top: 30px;
	text-align: center;
	padding: 3px;
	background-image: linear-gradient(180deg,white, blue);
	font-size: 25px;
}
header figure{
	padding: 4px;
	margin: auto;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition:         transform .8s ease-in-out;
}
header:hover figure{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
			}
figure.figcaption{
	position: static;
}
footer{
	text-align: center;
	padding: 3px;
	background-color: #89CFF0;
	color: black;
}
#results {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin-top: 30px;
}
#results th, #results td{
	padding: 15px;
	text-align: center;
	border: 1px solid #ddd;
}

nav {
	font-family: monospace;
	background-color: #1950ff;
	position: fixed; 
	top: 0; 
	width: 100%; 
  }
  
  ul {
	background: #1950ff;
	list-style: none;
	margin: 0;
	padding-left: 0;
  }
  
  li {
	color: #fff;
	background: #1950ff;
	display: block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
	transition-duration: 0.5s;
  }
	
  li a {
	color: #fff;
  }
  
  li:hover {
	background: red;
	cursor: pointer;
  }
  
  ul li ul {
	background: #1950ff;
	visibility: hidden;
	opacity: 0;
	min-width: 5rem;
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 1rem;
	left: 0;
	display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul, 
  ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
  }
  
  ul li ul li {
	clear: both;
	width: 100%;
  }
 section{
	margin-top: 30px;
	text-align: center;
}
#results{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
#results thead{
	background-color: #1666ba;
}
#results td, #results th{
	border: 1px solid black;
	padding: 8px;
}
img{
	width:200px;
	height: 200px;

}
#squad{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	background-color: #bedaf7;
}
#squad thead{
	background-color: #368ce7;
}
#content_img{
	 position: relative;
	 width: 200px;
	 height: 200px;
	 float: left;
	 margin-right: 10px;
}
.content_img div{
	 position: relative;
	 bottom: 0;
	 right: 0;
	 background: black;
	 color: white;
	 margin-bottom: 5px;
	 font-family: sans-serif;
	 opacity: 0;
	 visibility: hidden;
	 -webkit-transition: visibility 0s, opacity 0.5s linear; 
	 transition: visibility 0s, opacity 0.5s linear;
}
.content_img:hover{
	cursor: pointer;
}

.content_img:hover div{
	 width: 150px;
	 padding: 15px 15px;
	 visibility: visible;
	 opacity: 0.7; 
}

section {
	padding-top: 4rem;
	width: 50%;
	margin: auto;
}
details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}
details summary {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid black;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
}

details summary:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}
details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
details summary {
  outline: 0;
}
details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

h1,
h1+p {
	margin: 30px 15px 0;
	font-weight: 300;
}
h1{
	text-align: center;
}

	
		  
		  
footer{
	text-align: center;
	padding: 3px;
	background-color: #89CFF0;
	color: black;
}
		  