body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

			
header{
	margin-top: 30px;
	text-align: center;
	padding: 3px;
	background-image: linear-gradient(180deg,white, blue);
	font-size: 25px;
}
header figure{
	padding: 4px;
	margin: auto;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition:         transform .8s ease-in-out;
}
header:hover figure{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
			}
figure.figcaption{
	position: static;
}
footer{
	text-align: center;
	padding: 3px;
	background-color: #89CFF0;
	color: black;
}
#results {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}
#results th, #results td{
	padding: 15px;
	text-align: center;
	border: 1px solid #ddd;
}

nav {
	font-family: monospace;
	background-color: #1950ff;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
  }
  
  ul {
	background: 1950ff;
	list-style: none;
	margin: 0;
	padding-left: 0;
  }
  
  li {
	color: #fff;
	background: #1950ff;
	display: block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
	transition-duration: 0.5s;
  }
	
  li a {
	color: #fff;
  }
  
  li:hover {
	background: red;
	cursor: pointer;
  }
  
  ul li ul {
	background: #1950ff;
	visibility: hidden;
	opacity: 0;
	min-width: 5rem;
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 1rem;
	left: 0;
	display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul, /* this is the line we add */
  ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
  }
  
  ul li ul li {
	clear: both;
	width: 100%;
  }
 section{
	margin-top: 30px;
	text-align: center;
}
#results{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
#results td, #results th{
	border: 1px solid black;
	padding: 8px;
}
img{
	width:200px;
	height: 200px;

}
#squad{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
#content_img{
	 position: relative;
	 width: 200px;
	 height: 200px;
	 float: left;
	 margin-right: 10px;
}
.content_img div{
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 background: black;
	 color: white;
	 margin-bottom: 5px;
	 font-family: sans-serif;
	 opacity: 0;
	 visibility: hidden;
	 -webkit-transition: visibility 0s, opacity 0.5s linear; 
	 transition: visibility 0s, opacity 0.5s linear;
}
.content_img:hover{
	cursor: pointer;
}

.content_img:hover div{
	 width: 150px;
	 padding: 8px 15px;
	 visibility: visible;
	 opacity: 0.7; 
}

		  
		  
footer{
	text-align: center;
	padding: 3px;
	background-color: #89CFF0;
	color: black;
}
		  